*{
    margin: 0;
    padding: 0;
    font-family: Assistant, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
}
header{
    display: flex;
    height:80px;
    background-color: white;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 1px 10px #888888;
    position: sticky;
    top: 0;
}
.image_logo{
    height: 56px;
    padding-top: 15px;
}
nav a{
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;
    color: #282c3f;
}

header div{
    margin-left: 30px;
}

.shh{
    display: flex;
    min-width: 500px;
    justify-content: space-between;
    
}
.shh a:hover{
    border-bottom: 3px solid red;
}
.action{
    margin-right:4%;
}
.searchbar{
    display: flex;
    min-width:300px;
    border-radius: 3px 0px 0px 3px;
}
input{
    border-radius: 0px 6px 6px 0px;
    display: flex;
    width: 254px;
    height: 27px;
    border-left:none ;
    border: 1px solid #f5f5f6;
    background: #f5f5f6;
    font-size: 14px;
}
.material-symbols-outlined{
    padding-top: 3px;
    border-radius: 6px 0px 0px 6px;
    justify-content: flex-start;
    border-right: none;
    border: 1px solid #f5f5f6;
    background: #f5f5f6;
    font-size: 14px;
    
}
.container{
    display: flex;
    justify-content: space-between;
}
.banner{
    width:100vw;
    height:266.7px;
    object-fit: contain;
}
.a{
    padding:20px 0px 15px;
}
.b{
    height:37.33px;
    width:100vw;
    font-family: Assistant, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    color: #3e4152;
    font-weight: 700;
    margin: 50px 0 10px 30px;
    letter-spacing: 5px;
    font-size: x-large;
}
.c{
    width: 100vw;
    display: flex;
    object-fit:contain;
    flex-wrap: wrap;
    padding:20px 0px 15px ;
}
.xy{
    width: 150px;
    height:200.44px;
}
#deals{
    width: 100vw;
    height:37.33px;
    padding:20px 0px 15px 20px;
    font-family: Assistant, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    color: #3e4152;
    font-weight: 700;
    letter-spacing: 5px;
    font-size: x-large;

}
.zy{
    width: 150px;
    height:200.44px;
}
.d{
    width: 100vw;
    display: flex;
    object-fit:contain;
    flex-wrap: wrap;
    padding:20px 0px 15px ;
}